extends ../layout

block content
    h1.
        Ruta
    form#formAddRuta(name="addruta", method="post", action="/rutas")
        p NumeroGuia:
            input#inputNumeroGuia(type="text", name="numeroGuia")
        p Origen:
            input#inputOrigen(type="text", name="origen")
        p Destino:
            input#inputDestino(type="text", name="destino")
        p Viajero:
            input#inputViajero(type="text", name="viajero")
        p Empresa:
            input#inputEmpresa(type="text", name="empresa")
        p Vehiculo:
            input#inputVehiculo(type="text", name="vehiculo")
        p
            button#btnSubmit(type="submit") Crear